@media (min-width:800px){
    

.search-box__form {
    display: flex;
}

.search-box__form-label {
    display: inline-block;
    font-size: 1.042vw;
    margin-right: 0.868vw;
    
}

.search-box__form-input {
    box-sizing: border-box;
    display: block;
    border-radius: 0.434vw;
    margin-top: 0.434vw;
    width: 26.042vw;
    font-size: 1.215vw;
    padding: 0.434vw 0.868vw;
    border: 0.087vw solid rgba(0, 8, 7, .5);
}

.search-box__form-submit {
    margin-top: 1.476vw;
    padding: 0.434vw 0.868vw;
    border: none;
    transition: all 0.2s linear;
    color: #FFEEDB;
    background-color: rgba(0, 8, 7);
    border-radius: 0.434vw;
}

.search-box__form-submit:hover {
    opacity: 0.8;
    cursor: pointer;
    transition: all 0.2s linear;
    background-color: #aa9c1d;
    color: rgba(0, 8, 7);
}

.search-box__form-submit:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}
}
@media (min-width:360px) and (max-width:800px) {
    .search-box__form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .search-box__form-label {
        display: flex;
        flex-direction: column;
        font-size: 12px;
        margin-right: 10px;
        
    }
    
    .search-box__form-input {
        box-sizing: border-box;
        display: block;
        border-radius: 5px;
        margin-top: 5px;
        width: 200px;
        font-size: 14px;
        padding: 5px 10px;
        border: 1px solid rgba(0, 8, 7, .5);
    }
    
    .search-box__form-submit {
        margin-top: 17px;
        padding: 5px 10px;
        border: none;
        transition: all 0.2s linear;
        color: #FFEEDB;
        background-color: rgba(0, 8, 7);
        border-radius: 5px;
        width: fit-content;
    }
    
    .search-box__form-submit:hover {
        opacity: 0.8;
        cursor: pointer;
        transition: all 0.2s linear;
        background-color: #aa9c1d;
        color: rgba(0, 8, 7);
    }
    
    .search-box__form-submit:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }   
}