@media (min-width:800px){
}
.main-page__content {
    padding: 3.646vw calc(50% - 43.403vw);
    display: flex;
    justify-content: space-between;

}

.main-page__main-section {
    padding-left: 3.472vw;
    box-sizing: border-box;
    width: 60%;
}

.main-page__search-box {
    margin-bottom: 3.038vw;
}

.main-page__favorites {
    width: 35%;   
}
@media (min-width:360px) and (max-width:800px){
    .main-page__content {
        width: 100%;
        display: flex;
        flex-direction: column;
    
    }
    .main-page__main-section {
        box-sizing: border-box;
        width: 100%;
    }
    
    .main-page__search-box {
        margin-bottom: 9.722vw;
    }
    
    .main-page__favorites {
        margin: 2.555vw;
    }
    
    
}